BreakConstructorInitializersBeforeComma: true
ColumnLimit: 100
ContinuationIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
IndentWidth: 4
MaxEmptyLinesToKeep: 2
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
AccessModifierOffset: -4
FixNamespaceComments: false
DerivePointerAlignment: false
PointerAlignment: Left
