[submodule "lib/state_ptr"]
	path = lib/state_ptr
	url = https://github.com/robbepop/state_ptr
[submodule "lib/minisat"]
	path = lib/minisat
	url = https://github.com/fkutzner/minisat
[submodule "etc/cmake/nicemake"]
	path = etc/cmake/nicemake
	url = https://github.com/fkutzner/nicemake
