[submodule "lib/state_ptr"]
	path = deps/state_ptr
	url = https://github.com/robbepop/state_ptr
[submodule "lib/minisat"]
	path = deps/minisat
	url = https://github.com/fkutzner/minisat
[submodule "etc/cmake/nicemake"]
	path = etc/cmake/nicemake
	url = https://github.com/fkutzner/nicemake
[submodule "deps/CLI11"]
	path = deps/CLI11
	url = https://github.com/CLIUtils/CLI11.git
